.container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    /* background-color: #63b9cf93; */
    padding-top: 20px;
    padding-bottom: 50px;
}


.carousel{
    top: -205px;
    height: 900px!important;
    perspective: 600px!important;
}

.carousel .carousel-item {
    width: 400px!important;
}
.carousel .carousel-item img{
    width: 300px;
}

h2.title_appear {
    font-size: 35px;
}

.title_appear{
    position: absolute;
    height: 300px;

    width: 250px;
    top: -29px;
    bottom: 0;
    border-radius: 10px;
    background: rgba(242, 227, 243, 0.79);
    color: #4a484c;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility .2s;
}

 .work:hover .title_appear{


    visibility: visible;
    opacity: 1;
  }


p.description_appear{
    font-size: 25px;
}

.description_appear{
    position: absolute;
    height: 200px;
    top: 75px;
    left:0px;
    right: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(45deg, #f76e11d4, #4422ce75);;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility .2s;
}

 .work:hover .description_appear{

    visibility: visible;
    opacity: 1;
  }
