.container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    /* background-color: #63b9cf93; */
    padding-top: 20px;
    padding-bottom: 50px;

}

.block{
    display:none;
}

.carousel{    
    /* background: #4a484c; */
    left: -365px;
    top: -275px;
    margin: 0 auto;
    height: 980px!important;
    width: 1900px!important;
    perspective:959px!important;

}

.carousel .carousel-item {
    width: 300px!important;
}
.carousel .carousel-item>img{
    width: 416px!important;
    height: 550px!important;
    overflow:hidden;
    box-shadow: 7px 7px 18px #0000002b;

}
.carousel .carousel-item a{
    font-weight: 700;
    font-size: 42px;
    color: #000;
    line-height: 1px;
    position: relative;
    top: -184px;
    left: 0;
    z-index: 1;
    visibility: hidden;



}
 .carousel-item a:before{
     content:"";
     position: absolute;
     border-color: transparent transparent transparent #ffffffab;
     border-width: 550px 0 0 416px;
     z-index: -1;
     top: -362px;
     left: -99px;
     border-style: solid;
     visibility: hidden;
     box-shadow: -16px 20px 20px #00000085;


 
 }
 .carousel-item:hover a:before{
     visibility: visible;

 }
 .carousel-item:hover a{
    visibility: visible;

}
h2.title_appear {
    font-size: 35px;
}

.title_appear{
    position: absolute;
    height: 300px;

    width: 250px;
    top: -29px;
    bottom: 0;
    border-radius: 10px;
    background: rgba(242, 227, 243, 0.79);
    color: #4a484c;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility .2s;
}

 .work:hover .title_appear{


    visibility: visible;
    opacity: 1;
  }


p.description_appear{
    font-size: 25px;
}

.description_appear{
    position: absolute;
    height: 200px;
    top: 75px;
    left:0px;
    right: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(45deg, #f76e11d4, #4422ce75);;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility .2s;
}

 .work:hover .description_appear{

    visibility: visible;
    opacity: 1;
  }

  @media (max-width: 1130px){

    .container {
        width: 1130px;
        margin: 0!important;
        max-width: 1130px;
    }
    .carousel {
        /* background: #4a484c; */
        left: 5px;
        top: -275px;
        height: 980px!important;
        width: 1100px!important;
        perspective: 959px!important;
    }

  }


  @media (max-width: 1024px){

    .container {
        width: 100%!important;
        margin: 0!important;
        max-width: 1024px!important;
    }
    .carousel {
        /* background: #4a484c; */
        left: 5px;
        top: -275px;
        height: 980px!important;
        width: 1100px!important;
        perspective: 959px!important;
    }
    .carousel .carousel-item>img {
    width: 316px!important;
    height: 450px!important;

    }
    .carousel-item a:before {
    border-width: 450px 0 0 316px;
        top: -286px;
    }

    .carousel .carousel-item a {
    top: -161px;

    }
    .carousel {
    /* background: #4a484c; */
    left: -21px;
    top: -275px;
    height: 980px!important;
    width: 1015px!important;
    perspective: 741px!important;
    }

}


  @media (max-width: 798px){
.container {
    width: 100%!important;
    margin: 0!important;
    max-width: 778px!important;
}
   .carousel{
       display: none;
   }
    .block{
        width: 789px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    .item {
    width: 279px;
    height: 344px;
    margin-bottom:10px;
}
.item>img{
    width: 277px!important;
    height: 344px!important;
    overflow:hidden;
    box-shadow: 7px 7px 18px #0000002b;

}
.item a{
    font-weight: 700;
    font-size: .92em;
    color: #000;
    line-height: 1px;
    position: relative;
    top: -102px;
    left: -21px;
    z-index: 1;
    visibility: hidden;
}

 .item a:before{
     content:"";
     position: absolute;
     border-color: transparent transparent transparent #ffffffab;
     border-width: 344px 0 0 279px;
     z-index: -1;
     top: -257px;
     left: -89px;
     border-style: solid;
     visibility: hidden;
     box-shadow: -16px 20px 20px #00000085;
 }

 .item:hover a:before{
     visibility: visible;

 }
 .item:hover a{
    visibility: visible;

}

  }


@media (max-width: 648px){

       .block{
        width: 645px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .item>img{
    width: 250px!important;
    height: 320px!important;
    overflow:hidden;
    box-shadow: 7px 7px 18px #0000002b;

    }

    .item {
    width: 250px!important;
    height: 320px!important;
    margin-bottom:10px;
    }
     .item a:before{
     content:"";
     position: absolute;
     border-color: transparent transparent transparent #ffffffab;
     border-width: 320px 0 0 250px;
     z-index: -1;
    top: -233px;
    left: -74px;
     border-style: solid;
     visibility: hidden;
     box-shadow: -16px 20px 20px #00000085;


 
    }
}

@media (max-width: 468px){

       .block{
        width: 465px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .item>img{
    width: 250px!important;
    height: 320px!important;
    overflow:hidden;
    box-shadow: 7px 7px 18px #0000002b;

    }

    .item {
    width: 250px!important;
    height: 320px!important;
    margin-bottom:10px;
    }
     .item a:before{
     content:"";
     position: absolute;
     border-color: transparent transparent transparent #ffffffab;
     border-width: 320px 0 0 250px;
     z-index: -1;
    top: -233px;
    left: -74px;
     border-style: solid;
     visibility: hidden;
     box-shadow: -16px 20px 20px #00000085;


 
    }
}


@media (max-width: 411px){
.container {
    width: 100%!important;
    margin: 0!important;
    max-width: 355px!important;
}
       .block{
        width: 355px;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        
    }
    .item>img{
    width: 150px!important;
    height: 220px!important;
    overflow:hidden;
    box-shadow: 7px 7px 18px #0000002b;

    }

    .item {
    width: 150px!important;
    height: 220px!important;
    margin:0 10px 10px 0;
    }
     .item a:before{
     content:"";
     position: absolute;
     border-color: transparent transparent transparent #ffffffab;
     border-width: 220px 0 0 150px;
     z-index: -1;
    top: -133px;
    left: -25px;
     border-style: solid;
     visibility: hidden;
     box-shadow: -16px 20px 20px #00000085;


 
    }
}