@import url(portfoliostyles.css);
@import url(animationstyles.css);
@import url(stylesheets.css);
@import url(colapsible.css);
html {
    scroll-behavior: smooth;
    }

body{
    margin: 0 20px!important;
    width: 100%;
}



h1{
    margin-bottom: 15px;
}
#header {
    display: grid;
    grid-template-areas:
    "portfolio aboutMe"
    "portfolio aboutMe"
    "mySkills mySkills";
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    grid-gap: 10px;
}

.aboutMe{
    grid-area: aboutMe;
    /* background-color:#63cf6993; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;

}

.myName{
    padding: 10px;
    margin: 10px;
    text-align: center;
}


.myPortfolio{
    grid-area: portfolio;

    /* background-color:#63b9cf93;  */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    position: relative;
    animation: came-out-from-left 3s;
    animation-delay: -1s;
}

.mySkills{
    grid-area: mySkills;
    /* background-color:#ad63cf93; */
    margin-bottom: 10px;
    position: relative;
    z-index: 1!important;
    height: 400px;
}



.work img{
    height: 300px;
    width: auto;
    border-radius: 50%;
}


.myFoto{
    background: url("../img/foto2.jpg") no-repeat;
    background-size: 250px 325px;
    border-radius: 50%;
    background-position: 4px -2px;
    height: 325px;
    width: 250px;
    position: relative;
 
}

.myFoto:before{
    content: '';
    position: absolute;
    background: url("../img/photo_2019-07-25_14-56-14.jpg") no-repeat;
    border-radius: 50%;
    background-size: 250px 325px;
    background-position: 0px 0px;
    height: 325px;
    width: 250px;
    z-index: -1;
    opacity: 1;
    transition: 0.2s ease-out;
    box-shadow: 5px 6px 20px 0px #00000040;

}

.myFoto:hover:before{
    z-index: 2;
    opacity: 1;
    transition: 0.2s ease-out;
    box-shadow: 5px 3px 20px #0000006e;

}


.works img{
    height: 250px;
    width: 200px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    /* transform: rotate3d(.6, .2, .8,-10deg); */
    box-shadow: -7px 8px 20px 11px #00000029;
    transition: opacity 2s, visibility 2s;
}


.works img:hover{
    box-shadow: -7px 8px 20px 11px #00000054;
    transition: opacity 1s, visibility 1s;
}

.works {
    text-align: center;

}

.mySkills{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.mySkills ul{
    display: flex;
    justify-content: space-around;
}



/* .ContactBox{
    width: 220px;
    height: 220px;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 10px!important;
    display: none;
    background: linear-gradient(45deg, #f76e11d4, #4422ce75);
    border: 2px solid white;
    top: 300px;
    left: -200px;
    position: absolute;
    border-radius: 6%;
    box-shadow: -1px 4px 20px 0px black;
} */


.ContactBox{
    width: 220px;
    height: 220px;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 10px!important;
    display: none;
    background: linear-gradient(45deg, #f76e11d4, #4422ce75);
    border: 2px solid white;
    top: 300px;
    left: -200px;
    position: absolute;
    border-radius: 6%;
    box-shadow: -1px 4px 20px 0px black;
}
.ContactMe_box{
    position: relative;
}


.button2 {
    border: 2px solid rgb(34, 33, 33);;
    padding: 8px 15px;
    border-radius: 50px; 
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    color: rgb(34, 33, 33);;
    letter-spacing: 1.6px;
    margin-bottom: 13px;
    transition: 0.2s ease-out;
    position: relative;
    top: 266px;
    left: -207px;
}
/* top: 303px;
    left: -226px; */
.button2:hover {
    color: #55636b;
    background-color: #fff; 
}
.box {

    width: 223px;
    height: 0px;
    visibility: hidden;
    top: 300px;
    left: -150px;
    position: absolute;
    /* background: linear-gradient(45deg, #f76e11d4, #4422ce75); */
    font-size: 0px;
    padding-left: 25px!important;
  }
  
  .transform {
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
  }
  
  .transform-active {
    /* background: linear-gradient(45deg, #f76e11d4, #4422ce75); */
    font-size: 24px;
    padding-left: 25px!important;
    width: 223px;
    height: 220px;
    visibility: visible;
    top: 300px;
    left: -150px;
    position: absolute;
  }
    
.ContactBox a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
.ContactBox a:active{
    color: #fff;
}

.ContactBox a:hover{
    color: #fff;
}
.ContactItem i{
    margin-right: 10px;
}


@media (max-width: 1024px){

    #header {
        width: 992px;
        display: block;
        height: 85vh;
    }
    .myPortfolio {
        display: none;
    }
    .aboutMe {
        margin: 50px auto;
    
    }

    .aboutMe p{
        transform: translate(-84px, -14px);
    }
    .myName {
        transform: translate(-106px, -5px) rotate(-17deg);

    }
    ul.skills {
        margin: 0 20px;
        width: 910px;
    }
    .button2:hover {
    color: #fff;
    background-color: #000;
}

    .button2 {
        padding: 3px 11px;
        font-weight: 600;
        top: 142px;
        left: -165px;
        font-size: 22px;

    }
    .transform-active {

        top: 171px;
        left: -186px;
    }

  }

  @media (max-width: 798px){

    #header {
        width: 778px;
        display: block;
        height: 75vh;
    }

    .aboutMe p{
        transform: translate(-47px, -14px);
    }
    .button2 {
        left: -133px;
    }

    .transform-active {
        top: 171px;
        left: -156px;
    }
    ul.skills {
        margin: 0 20px;
        width: 778px;
        flex-wrap: wrap;
    }
    .button2:hover {
    color: #fff;
    background-color: #000;
}

    .button2 {
        padding: 3px 11px;
        font-weight: 600;
        top: 142px;
        left: -165px;
        font-size: 22px;

    }
    .transform-active {

        top: 171px;
        left: -186px;
    }

  }


   @media (max-width: 648px){

    #header {
        width: 645px;
        display: block;
        height: 85vh;
    }
    .myName {
        transform: translate(-17px, -105px) rotate(-17deg);

    }
    .aboutMe p{
        transform: translate(-47px, -14px);
    }
    .button2 {
        left: -133px;
    }

    .transform-active {
        top: 171px;
        left: -156px;
    }
    ul.skills {
        margin: 0 20px;
        width: 645px;
        flex-wrap: wrap;
    }
    .button2:hover {
    color: #fff;
    background-color: #000;
}

    .button2 {
        padding: 3px 11px;
        font-weight: 600;
        top: 142px;
        left: -165px;
        font-size: 22px;

    }
    .transform-active {

        top: 171px;
        left: -186px;
    }

  }

  @media (max-width: 468px){
    h1 {    
    font-size: 3.2rem!important;
    line-height: 90%;
    }

    #header {
        width: 465px;
        display: block;
        height: 75vh;
    }
    .myFoto {
    background: url(../img/foto2.jpg) no-repeat;
    background-size: 150px 225px;
    border-radius: 50%;
    background-position: 4px -2px;
    height: 225px;
    width: 150px;
    position: relative;
    top: -14px;
        left: -13px;
    }

    .myFoto:before{
    content: '';
    position: absolute;
    background: url("../img/photo_2019-07-25_14-56-14.jpg") no-repeat;
    border-radius: 50%;
    background-size: 150px 225px;
    background-position: 0px 0px;
    height: 225px;
    width: 150px;
    z-index: -1;
    opacity: 1;
    transition: 0.2s ease-out;
    box-shadow: 5px 6px 20px 0px #00000040;

    }

    .myName {
        transform: translate(16px, -80px) rotate(-17deg);

    }
    .aboutMe p{
        transform: translate(-47px, -14px);
    }
    .button2 {
        left: -133px;
    }

    .transform-active {
        top: 171px;
        left: -156px;
    }

    ul.skills {
        margin: 0 20px;
        width: 468px;
        flex-wrap: wrap;
    }
    .button2:hover {
    color: #fff;
    background-color: #000;
    }

    .button2 {
        padding: 3px 11px;
        font-weight: 600;
        top: 106px;
        left: -120px;
        font-size: 22px;
    }
    .transform-active {
        top: 122px;
        left: -175px;
    }

}
   @media (max-width: 411px){
    h1 {
    font-size: 2.2rem!important;
    line-height: 50%;

    }
    a{
    font-size: 22px;
    }
    #header {
        width: 355px;
        display: block;
        height: 75vh;
    }
    .myFoto {
    background: url(../img/foto2.jpg) no-repeat;
    background-size: 150px 225px;
    border-radius: 50%;
    background-position: 4px -2px;
    height: 225px;
    width: 150px;
    position: relative;
    top: 14px;
    left: -49px;
}

    .myFoto:before{
    content: '';
    position: absolute;
    background: url("../img/photo_2019-07-25_14-56-14.jpg") no-repeat;
    border-radius: 50%;
    background-size: 150px 225px;
    background-position: 0px 0px;
    height: 225px;
    width: 150px;
    z-index: -1;
    opacity: 1;
    transition: 0.2s ease-out;
    box-shadow: 5px 6px 20px 0px #00000040;

    }

    .myName {
        transform: translate(37px, -91px) rotate(0deg);

    }
    .aboutMe p{
        transform: translate(-26px, -21px);
        font-size: 22px;
    }


    .box{
        top: 138px;
        left: -175px;
        font-size: 0px;
    }
    .box a{
        font-size:0px;
    }
        .box ul{ 
        margin: 0;
    }
    .transform-active {

    top: 108px;
    left: -153px;

        font-size: 22px;
    }
    .transform-active a{
        font-size: 22px;
    }

    .mySkills {
    width: 390px;
    }
    ul.skills {
        margin: 0 20px;
        width: 410px;
        flex-wrap: wrap;
    }
    .button2:hover {
    color: #fff;
    background-color: #000;
    }

    .button2 {
    padding: 2px 7px;
    font-weight: 600;
    top: 59px;
    left: -113px;
    font-size: 18px;
    }


  }

   @media (max-width: 320px){

    #header {
        width: 355px;
        display: block;

        height: 90vh;
    }
   }